{% extends "generator/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'generator/myscripts.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 id="generated">Password Generated</h1>
        <h2 class="alert alert-success" id="password" onclick="copytext()">{{ password }}</h2>
        <p id="copyinstruction">(Click password to copy)</p>
        <div><a href="{% url 'home' %}">Back to Home</a></div>  
    </div>
{% endblock %}
